
/* Google Maps Button */

.map-btn{

display:inline-block;
margin-top:20px;
padding:13px 30px;
border-radius:35px;

background:#7b4321;
color:white;

text-decoration:none;
font-weight:600;

transition:.3s;

}



.map-btn:hover{

background:#b77b3c;

transform:translateY(-3px);

}




/* Hero badge */

.tag{

display:inline-block;

background:rgba(255,255,255,.15);

padding:8px 18px;

border-radius:30px;

backdrop-filter:blur(8px);

font-weight:600;

}





/* Better feature cards */

.features h3{

color:#7b4321;

margin-bottom:12px;

}





/* Better mobile buttons */

@media(max-width:768px){

.buttons{

display:flex;

flex-direction:column;

align-items:flex-start;

}


.map-btn{

width:90%;

}


}
